.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

//comentario add 
.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 239px;
    margin-top: -76px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 622px;
}

.u-section-2 .u-image-1 {
  width: 514px;
  left: auto;
  right: 56px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 277px;
  margin: 173px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-line-1 {
  width: 328px;
  margin-top: 242px;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 15px;
  transform-origin: left center 0;
}

.u-section-2 .u-line-2 {
  width: 494px;
  height: 15px;
  transform-origin: left center 0;
  margin: -182px auto 0 0;
}

.u-section-2 .u-line-3 {
  width: 395px;
  height: 15px;
  transform-origin: left center 0;
  margin: 67px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: -152px 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 424px;
    right: 46px;
  }

  .u-section-2 .u-group-1 {
    width: 550px;
    min-height: 293px;
    margin-bottom: 60px;
    margin-left: 155px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-2 {
    width: 487px;
  }

  .u-section-2 .u-line-3 {
    width: 406px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    position: relative;
    margin-right: 16px;
    margin-bottom: -192px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-2 .u-image-1 {
    width: 331px;
    right: 29px;
  }

  .u-section-2 .u-group-1 {
    width: 476px;
    margin-top: 112px;
    margin-bottom: 50px;
    margin-left: 29px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 323px;
    transform-origin: left center;
    margin-left: 10px;
  }

  .u-section-2 .u-line-2 {
    width: 399px;
    transform-origin: left center;
    margin-top: -140px;
    margin-left: 10px;
  }

  .u-section-2 .u-line-3 {
    width: 365px;
    transform-origin: left center;
    margin-top: 48px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin: -128px 59px -145px 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-2 .u-image-1 {
    width: 318px;
    right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 434px;
    min-height: 252px;
    margin-top: 117px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-2 .u-line-1 {
    width: 290px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 389px;
    transform-origin: left center 0;
    margin-top: -150px;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    width: 330px;
    margin-top: 55px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: 424px;
    margin: -133px 5px -158px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-2 .u-image-1 {
    height: 418px;
    margin-top: -178px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 241px;
    transform-origin: left center 0px;
    margin-top: 159px;
  }

  .u-section-2 .u-line-2 {
    width: 300px;
    transform-origin: left center 0px;
    margin-top: -120px;
  }

  .u-section-2 .u-line-3 {
    width: 292px;
    transform-origin: left center 0px;
    margin-top: 43px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -105px;
    margin-right: 0;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 749px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/1a3f96fc7b50096c0e58bdb55fcf68410b25a0a5433a9e3c93f9b0245280201607994df4661c924ddb737a66660aa75f3f5c728774c60ad1e59efa_1280.jpg");
  min-height: 777px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 258px;
  background-image: url("images/c027ff299c0a3b216773d77c0a2158a8.png");
  background-position: 50% 50%;
  margin: 519px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 63px 8px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 13px 8px 0 0;
}

.u-section-3 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  margin: 20px 437px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-3 .u-container-layout-3 {
  padding-right: 0;
  padding-left: 33px;
}

.u-section-3 .u-line-1 {
  width: 327px;
  height: 13px;
  transform-origin: left center;
  margin: 103px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  line-height: 1;
  margin: -48px 134px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 40px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 40px auto 40px 0;
  padding: 10px 37px 11px 36px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/5e14366306d3f4e262fe82521d57d1b0d079ebcb6db9056832c1f5edd5cc9a9fbeef5605f0f6969af4b30e2b8ebebe8f16f2adea8611fb4733e453_1280.jpg");
  min-height: 358px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 752px;
  }

  .u-section-3 .u-image-2 {
    min-height: 227px;
    margin-top: 525px;
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 23px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-link-1 {
    margin-right: auto;
    margin-bottom: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 29px;
  }

  .u-section-3 .u-line-1 {
    width: 270px;
    height: 11px;
    transform-origin: left center 0;
    margin-top: 40px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 167px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    border-radius: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-image-1 {
    min-height: 769px;
  }

  .u-section-3 .u-image-2 {
    min-height: 265px;
    margin-top: 504px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 1.5rem;
    min-height: 0;
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    min-height: 0;
    width: 320px;
  }

  .u-section-3 .u-link-1 {
    position: relative;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-3 .u-line-1 {
    width: 279px;
    height: 13px;
    transform-origin: left center;
    margin-top: 45px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 41px;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .u-section-3 .u-image-3 {
    min-height: 363px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-3 .u-image-1 {
    min-height: 752px;
  }

  .u-section-3 .u-image-2 {
    min-height: 273px;
    margin-top: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 103px;
  }

  .u-section-3 .u-text-2 {
    width: 500px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-3 .u-line-1 {
    width: 287px;
    margin-top: 107px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 42px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
    margin-top: 40px;
    margin-bottom: 52px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 769px;
  }

  .u-section-3 .u-image-2 {
    min-height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 148px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-link-1 {
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 24px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: left center 0px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -48px;
    margin-right: 15px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 40px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 39px;
    margin-bottom: 0;
    margin-left: 1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 423px;
}

.u-section-4 .u-group-1 {
  min-height: 247px;
  margin: 88px 0 88px 377px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-line-1 {
  height: 242px;
  width: 6px;
  transform-origin: center top;
  margin: 0 auto 0 -60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: -200px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    min-height: 269px;
    width: 629px;
    margin-bottom: 40px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-line-1 {
    height: 266px;
    transform-origin: center bottom;
    margin-top: 2px;
    margin-left: -49px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -227px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-group-1 {
    min-height: 240px;
    width: 613px;
    margin-top: 70px;
    margin-bottom: -13px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 0;
  }

  .u-section-4 .u-line-1 {
    height: 242px;
    width: 4px;
    transform-origin: 2px 163px;
    margin-top: 0;
    margin-left: -37px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -218px;
    margin-right: 31px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 32px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-4 .u-group-1 {
    min-height: 256px;
    width: 504px;
    margin-bottom: -82px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-4 .u-line-1 {
    width: 6px;
    transform-origin: center top;
    margin-top: 8px;
    margin-left: -21px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -227px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
    margin-bottom: 14px;
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-4 .u-group-1 {
    min-height: 345px;
    margin-top: 50px;
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-line-1 {
    height: 283px;
    transform-origin: center bottom;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -283px;
    margin-right: 5px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: 19px 6px 0 31px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1783px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 70px 0 0 auto;
}

.u-section-5 .u-image-1 {
  background-image: url("images/852dae4c57fe34027934f148fe3075f071814df13d09b9a9669cfe4e6808e30e4f213eb3668599cd4ccb9a541698ad625441c884912d93e131fc2b_1280.jpg");
  background-position: 50% 50%;
  min-height: 491px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 492px;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-5 .u-line-1 {
  width: 381px;
  height: 13px;
  transform-origin: left center;
  margin: 112px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: 77px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 52px 20px 0 0;
}

.u-section-5 .u-btn-1 {
  margin: 37px auto 85px 0;
  padding: 10px 37px 11px 36px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 729px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 86px;
}

.u-section-5 .u-image-2 {
  width: 444px;
  height: 308px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-group-1 {
  width: 466px;
  min-height: 375px;
  margin: 0 0 47px auto;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 3.75rem;
  margin: 28px 0;
}

.u-section-5 .u-image-3 {
  min-height: 865px;
  background-image: url("images/403089448d2c5bc8075cdb656ac5c61945b79dbd73df66febc3e918566dd085871ab3b3628445fdd2605edf9ea8781935d6afa88707ab0f5caa559_1280.jpg");
}

.u-section-5 .u-image-4 {
  min-height: 847px;
  background-image: url("images/95cc8fe536029f1b933f6c632b483b44d7f1a044e720d7ae97f9b03053dd28d1bc2dbdfb0579e4ac49d79e685f854ff6ecb09c3b204b3a3b564e15_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-5 {
  min-height: 279px;
  background-image: url("images/2bc242a70511bf8a6cd5cb324897b5c7.png");
  background-position: 50% 50%;
  margin: 569px auto 0 0;
}

.u-section-5 .u-container-layout-7 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-4 {
  margin: 112px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-5 .u-link-1 {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 2px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1697px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 380px;
    margin-top: 134px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 99px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-top: 43px;
    margin-right: 16px;
  }

  .u-section-5 .u-btn-1 {
    border-radius: 50px;
    margin-bottom: 70px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 629px;
  }

  .u-section-5 .u-image-2 {
    width: 366px;
    height: 254px;
  }

  .u-section-5 .u-group-1 {
    width: 384px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
    position: relative;
  }

  .u-section-5 .u-image-3 {
    min-height: 821px;
  }

  .u-section-5 .u-image-4 {
    min-height: 815px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 536px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }

  .u-section-5 .u-link-1 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1751px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 440px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 207px;
    height: 11px;
    transform-origin: left center 0;
    margin-top: 50px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 102px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-right: 10px;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
    margin-bottom: 67px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 614px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 54px;
  }

  .u-section-5 .u-image-2 {
    height: 195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 838px;
  }

  .u-section-5 .u-image-4 {
    min-height: 844px;
  }

  .u-section-5 .u-image-5 {
    min-height: 304px;
    margin-top: 540px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-top: 112px;
  }

  .u-section-5 .u-link-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1782px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 491px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 16px;
    padding-left: 17px;
  }

  .u-section-5 .u-line-1 {
    width: 194px;
    margin-top: 103px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    width: 535px;
    margin-top: 50px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 43px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 641px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 26px;
  }

  .u-section-5 .u-image-2 {
    height: 182px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-image-3 {
    min-height: 865px;
  }

  .u-section-5 .u-image-4 {
    min-height: 847px;
  }

  .u-section-5 .u-image-5 {
    min-height: 279px;
    margin-top: 568px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 24px;
    padding-right: 22px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-link-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: -11px;
    margin-left: 1px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 670px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: 308px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 342px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-image-3 {
    min-height: 603px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-4 {
    min-height: 557px;
  }

  .u-section-5 .u-image-5 {
    min-height: 304px;
    margin-top: 330px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-link-1 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 145px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 416px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 40px 446px 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 42px 31px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    left: auto;
    right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-right: 359px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 0;
  }

  .u-section-6 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-6 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 1px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}.u-section-7 {
  min-height: 439px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/cf1e002638970ab3ab4912ac0808749584ca33149baffad5b7c29c5e73172ba8903d9334fac5c59d2095d511c2bc197b917e04aafbb7aa268e7fef_1280.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-2 {
  min-height: 193px;
  background-image: url("images/c027ff299c0a3b216773d77c0a2158a8.png");
  background-position: 50% 50%;
  margin-top: 246px;
  margin-right: auto;
  margin-left: 0;
}

.u-section-7 .u-container-layout-2 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.u-section-7 .u-image-3 {
  background-image: url("images/g85fa389b7cc51c2edb9ec88f0d9f28d709eb63b1493ca2e0476f559de368e950c3fdd4bafae0f351f8aae54132413a60_1280.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-4 {
  min-height: 193px;
  background-image: url("images/c027ff299c0a3b216773d77c0a2158a8.png");
  background-position: 50% 50%;
  margin: 246px auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-link-2 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.u-section-7 .u-image-5 {
  background-image: url("images/bd57f7e8553c0398b05de5cbe43fc0ab4862c4b4929a006a23617b53864ca92ec8b5f01d5bfe3eca28417d11596e956ac3f47aedf7d7996d73c88c_1280.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-6 {
  min-height: 193px;
  background-image: url("images/c027ff299c0a3b216773d77c0a2158a8.png");
  background-position: 50% 50%;
  margin-top: 246px;
  margin-right: auto;
  margin-left: 0;
}

.u-section-7 .u-container-layout-6 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-link-3 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.u-section-7 .u-image-7 {
  background-image: url("images/5cd702ffb5326e90206cd419c94c5352131be3880b475f6fdfa6ad0747c92c4d26301e83454b51c5254c7f349896f27711257f5a840616d948e45c_1280.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-8 {
  min-height: 193px;
  background-image: url("images/c027ff299c0a3b216773d77c0a2158a8.png");
  background-position: 50% 50%;
  margin: 246px auto 0 0;
}

.u-section-7 .u-container-layout-8 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-link-4 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 339px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 339px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 206px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-image-3 {
    min-height: 339px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-image-5 {
    min-height: 339px;
  }

  .u-section-7 .u-image-6 {
    margin-top: 206px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
  }

  .u-section-7 .u-image-7 {
    min-height: 339px;
  }

  .u-section-7 .u-image-8 {
    margin-top: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1756px;
  }

  .u-section-7 .u-image-1 {
    min-height: 439px;
  }

  .u-section-7 .u-image-2 {
    min-height: 241px;
    margin-top: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-7 .u-image-3 {
    min-height: 439px;
  }

  .u-section-7 .u-image-4 {
    min-height: 278px;
    margin-top: 161px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-2 {
    width: 580px;
    margin-top: 105px;
  }

  .u-section-7 .u-image-5 {
    min-height: 439px;
  }

  .u-section-7 .u-image-6 {
    min-height: 245px;
    margin-top: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-7 .u-link-3 {
    margin-bottom: 25px;
  }

  .u-section-7 .u-image-7 {
    min-height: 439px;
  }

  .u-section-7 .u-image-8 {
    min-height: 250px;
    margin-top: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 25px;
  }

  .u-section-7 .u-link-4 {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-2 {
    min-height: 193px;
    margin-top: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 48px;
  }

  .u-section-7 .u-link-1 {
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-4 {
    min-height: 193px;
    margin-top: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-right: 60px;
  }

  .u-section-7 .u-link-2 {
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-6 {
    min-height: 193px;
    margin-top: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 48px;
  }

  .u-section-7 .u-link-3 {
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-8 {
    min-height: 193px;
    margin-top: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 48px;
  }

  .u-section-7 .u-link-4 {
    margin-right: auto;
    margin-bottom: 0;
  }
}
